<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表單 - 使用情境 - 10 個 Vue3 開發上面的小細節 | 六角學院</title>
</head>
<body>
    <div id="app">
        <input type="text" name="username" v-model="userData.username" />
        <input type="text" name="email" v-model="userData.email" />
        <input type="text" name="tel" v-model="userData.tel" />
        <button @click="submitFn">Submit</button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const { ref, reactive, watch } = Vue;
        
        const app = {
            setup() {

                // 如果只是要做一個選單開關的boolean
                const isMenuOpen = ref(false);

                // 盡量將同一個表單的資料寫在一個object裡面
                // const username = ref("username");
                // const email = ref("email");
                // const email = ref("email");
                const userData = reactive({
                    username: "",
                    email: "",
                    tel: "",
                });

                const submitFn = () => {
                    console.log(userData);
                    // 印出結果:
                    // Proxy {username: "aaa", email: "bbb", tel: "cccc"}
                    // [[Handler]]: Object
                    // [[Target]]: Object
                    // [[IsRevoked]]: false
                    isMenuOpen.value = true;
                };

                watch(isMenuOpen, (newVal, oldVal)=>{
                    console.log("newVal=>", newVal);
                    console.log("oldVal=>", oldVal);
                });
                
                return {
                    userData,
                    submitFn,
                    // username,
                    // email,
                    // tel,
                };
            }
        };

        Vue.createApp(app).mount("#app");
    </script>
</body>
</html>